{
    "plugins": [
        "dynamic-import-node",
        "styled-components"
    ],
    "presets": [
        "latest",
        "react",
        "stage-0"
    ],
    "env": {
        "production": {
            "presets": ["latest", "react", "stage-0", "react-optimize"]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
